<!--@subject {{var subject}} @-->
{{template config_path="design/email/header_template"}}
 
<p>{{trans "A new request for collaboration has been created:"}}</p>
<table class="message-details">
    <tr>
        <td><b>{{trans "Company name :"}}</b></td>
        <td>{{var nume_firma}}</td>
    </tr>
    <tr>
        <td><b>{{trans "HQ Location :"}}</b></td>
        <td>{{var localitate_sediu}}</td>
    </tr>
    <tr>
        <td><b>{{trans "Agent name :"}}</b></td>
        <td>{{var nume_reprezentant}}</td>
    </tr>
    <tr>
        <td><b>{{trans "Company Specifics :"}}</b></td>
        <td>{{var specific_vanzare}}</td>
    </tr>
    <tr>
        <td><b>{{trans "Email :"}}</b></td>
        <td>{{var email}}</td>
    </tr>
    <tr>
        <td><b>{{trans "Phone :"}}</b></td>
        <td>{{var telefon}}</td>
    </tr>
</table>